$body-background: #0c0c0c;
$black-accent1: #1b1b1b;
$black-accent2: #272727;
$primary-accent: #14ffec;
$primary-accent-hover: #0bcfbf;

@import './search.scss';

* {
  text-decoration: none;
}
a {
  color: inherit;
}
body {
  background: $body-background;
  color: #fff;
  box-sizing: border-box;
  padding: 10px;
  font-family: 'Muli', sans-serif;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background: $body-background;
  z-index: 2;
  padding-right: 5px;
}
.app-title {
  box-sizing: border-box;
  padding: 20px 0;
  color: #fff;
  text-decoration: none;
}

.main-page {
  margin-top: 30px;
}
.fab-wrapper {
  background: $primary-accent;
  color: $body-background;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  &.active {
    transform: rotate(45deg);
  }
}
.header {
  &.active {
    opacity: 0.2;
  }
}
.task-list-main {
  position: relative;
  transition: all 0.3s ease-in-out;
  &.active {
    opacity: 0.2;
  }
}
.task {
  &-list-title {
    box-sizing: border-box;
    padding: 10px 0 20px 0;
    font-weight: normal;
    opacity: 0.4;
    user-select: none;
  }
  &-in-progress-list {
    display: flex;
    flex-wrap: wrap;
  }
  &-card {
    background: $black-accent1;
    border-radius: 4px;
    min-width: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
    position: relative;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
    animation: scaleUp 0.8s ease;

    &:nth-child(odd) {
      min-width: calc(50%);
      flex-basis: calc(50%);
      margin-right: 10px;
    }
    .progress-bar {
      position: absolute;
      left: 0;
      bottom: 0;
      content: attr(data-progress);
      display: block;
      height: 2px;
      border-radius: 0 4px 4px 0;
      background: $primary-accent;
    }
    &.large {
      width: 100%;
      flex-basis: 100%;
      margin-right: 0;
    }
  }
  &-icon {
    color: $primary-accent;
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  &-card-content {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-title {
    font-weight: 500;
  }
  &-date {
    font-weight: normal;
    font-size: 0.7rem;
    opacity: 0.3;
  }
  &-status {
    opacity: 0.3;
    font-size: 0.85rem;
    margin: 10px 0 0 0;
  }
  &-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down-enter-active,
.slide-down-leave-active {
  transform: translateY(0);
  transition: all 0.4s;
}
.slide-down-enter, .slide-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(10%);
  opacity: 0;
}
.task-labels {
  display: flex;
  .task-label {
    box-sizing: border-box;
    padding: 5px 15px;
    margin: 10px 10px 10px 0;
    border-radius: 4px;
    border: 1px dotted #fff;
    text-transform: capitalize;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  &.show {
    display: block;
  }
  &-right {
    right: 0;
    left: auto;
  }
  &::after {
    content: '';
    background: #fff;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 2px;
    border-radius: 2px;
    transform: rotate(45deg);
  }
}

.button {
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: $primary-accent;
  border: 1px solid $primary-accent;
  margin: 10px;
  min-height: 40px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    background: $primary-accent-hover;
    border: 1px solid $primary-accent-hover;
  }
  &.block {
    width: 100%;
  }
  &.cancel {
    border: 1px solid #f64b3c;
    background: none;
    color: #f64b3c;
    display: inline;
    &.block {
      width: 100%;
    }
  }
}
